<html>
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/img/logo.png">
  <link rel="stylesheet" type="text/css" href="application.css">
  <script type="text/javascript" src="/path/to/jquery-latest.js"></script>
  <script type="text/javascript" src="/path/to/jquery.tablesorter.js"></script>
  <script type="text/javascript" src="application.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    e-Assistant
  </title>
</head>
<body>
  <div class="stripe">
    <div id="topbar" onclick="openNav()" class="top-bar">
      Welcome back, <%= @current_user.user_id %>! &#9668;
    </div>
    <div id="SideNav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <% if @current_user.user_image %>
      <img class="circle" id="user_img" src="<%= "/img/#{@current_user.id}.jpg"%>" >
      <% else %>
      <img class="circle" id="user_img" src="/img/user.png">
      <% end %>
      <%= link_to("タスク一覧", "/tasks")%>
      <%= link_to("プロフィール", "/users/#{@current_user.id}/edit")%>
      <%= link_to("ログアウト", "/logout", {method: :post})%>
    </div>
    <div class="bgline"></div>
    <a href="<%= "/users/#{@current_user.id}" %>"><img class="logo" src="/img/logo-circle.png"></a>
    <div class="tooltip">
      <button-top><%= link_to 'タスク追加', new_task_path, remote: true %></button-top>
      <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'"
        class="close" id="id01-close" title="Close Modal">&times;</span>
        <div class="modal-content animate">
          <div id="task-container" class="container"></div>
        </div>
      </div>
    </div>
    <div class="main-container">
      <h1>タスク一覧</h1>
      <table id="tsk" class="tablesorter">
        <thead>
          <tr>
            <th>色</th>
            <th>タスク名</th>
            <th>締切日時</th>
            <th>かかる時間</th>
            <th>優先度</th>
            <!-- <th>色</th>
            <th>コメント</th> -->
          </tr>
        </thead>

        <tbody>
          <% @tasks.each do |task| %>
          <% if(task.task_user.to_i == @current_user.id)%>
          <tr>
            <td><font size="5%" color="<%= task.color%>">&#9829;</font></td>
            <td><%= link_to task.task_name, edit_task_path(task), remote: true %></td>
            <td><%= task.deadline%></td>
            <td><%= task.required_time %>分</td>
            <td><%= task.priority %></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>
    <p class=".flash"></p>
  </div>
</body>
</html>
<script type="text/javascript">

<%= link_to 'タスク追加', new_task_path %>
