<p id="notice"></p>
<h1>タスク詳細</h1>
<p>
  <strong>タスク名:</strong>
  <%= @task.task_name %>
</p>

<p>
  <strong>締切日時:</strong>
  <%= @task.deadline_date %>
  <%= @task.deadline_time.hour %>
  :<%= @task.deadline_time.min %>
</p>

<p>
  <strong>かかる時間:</strong>
  <%= @task.required_time.hour %>
  :<%= @task.required_time.min %>
</p>

<p>
  <strong>優先度:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @task.comment %>
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to '戻る', tasks_path %>
<%= link_to('イベントの追加', "/tasks/putTask", {mothod: :post})%>
