
<html>
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/img/logo.png">
  <link rel="stylesheet" type="text/css" href="application.css">
  <script type="text/javascript" src="application.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    e-Assistant
  </title>
</head>
<body>
  <div class="stripe">
    <!-- <a href="#" class="add">Scroll To Top</a> -->
    <div id="topbar" onclick="openNav()" class="top-bar">
      Welcome back, <%= @user.user_id %>! &#9668;
    </div>
    <div id="SideNav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <% if @user.user_image %>
      <img class="circle" id="user_img" src="<%= "/img/#{@user.id}.jpg"%>" >
      <% else %>
      <img class="circle" id="user_img" src="/img/user.png">
      <% end %>
      <%= link_to("タスク一覧", "/tasks")%>
      <%= link_to("プロフィール", "/users/#{@user.id}/edit")%>
      <%= link_to("ログアウト", "/logout", {method: :post})%>
    </div>
    <div class="bgline"></div>
    <a href="<%= "/users/#{@current_user.id}" %>"><img class="logo" src="/img/logo-circle.png"></a>

    <div class="main-container">
      <div id="user-info-edit" >
        <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
        <div class="info-container">
          <!-- <button>Upload new photo</button> -->
          <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
          <% end %>
          <label for="user_id"><b>新ログイン名</b></label>
          <input type="text" placeholder=""   name="user_id" value= "<%= @user.user_id%>" required><br><br>
          <label for="password"><b>新パスワード</b></label>
          <input type="password" placehodler=""       name="password" value="<%= @user.password%>" required><br><br>
          <label for="password_confirmation"><b>もう一回パスワード</b></label>
          <input type="password" placehodler="" name="password_confirmation" required><br><br>
          <label for="email"><b>新メールアドレス</b></label>
          <input type="text" placeholder="" name="email" value="<%= @user.email %>"required><br><br>
          <label for="image"><b>プロフィール画像</b></label>
          <input type="file" name="image"><br><br>
          <input class="submit-button" type="submit" value="更新">

        </div>
        <% end %>
        <div class="hidden">
          <button class="tablinks" onclick="openTab(event, 'user-info')"　type=submit id="defaultOpen">更新</button>
        </div>

      </div>
    </div>
    <script>
    function openTab(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display =   "block";
      evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>
  </div>
  </body>
  </html>
