<<<<<<< HEAD
<html>
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/img/logo.png">
  <link rel="stylesheet" type="text/css" href="application.css">
  <script type="text/javascript" src="application.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
=======


<html>
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="img/logo.ico">
  <link rel="stylesheet" type="text/css" href="application.css">
>>>>>>> origin/master
  <title>
    e-Assistant
  </title>
</head>
<body>
<<<<<<< HEAD

  <!-- <a href="#" class="add">Scroll To Top</a> -->
  
  <div class="bgline"></div>
  <div class="top-bar">
    Welcome back, <%= @user.user_id %>!
    <div class="dropdown">
      <div onclick="dropdownfunction()" class="arrow-down" tabindex="2"></div>
      <div id="myDropdown" class="dropdown-content">
        <%= link_to("タスク一覧", "/tasks")%>
        <%= link_to("プロフィール", "/users/#{@user.id}/edit")%>
        <%= link_to("ログアウト", "/logout", {method: :post})%>
      </div>
    </div>
  </div>
  <a href="<%= "/users/#{@current_user.id}" %>"><img class="logo" src="/img/logo-circle.png"></a>
  <br><br>
  <% if @user.user_image %>
  <img class="circle" id="user_img" src="<%= "/img/#{@user.id}.jpg"%>" >
  <% else %>
  <img class="circle" id="user_img" src="/img/user.png">
  <% end %>
  <!-- <div class="square">
    現在のタスクは「タスク名」です。<br>
    残り時間：... <br>
    <%= @user.user_id%>さん、頑張ってください！
  </div> -->
  <div class="tooltip">
    <button-top onclick="document.getElementById('id05').style.display='block'"><%= link_to 'タスク追加', new_task_path, remote: true %></button-top>
    <div id="task-form"></div>
  </div>
  <div class="main-container">
    <br>
    <div id="event_calendar"></div>
    <div id="calendar-form"></div>
  </div>
  <br><br><br><br>
=======
  <div class="top-bar">
    <%= link_to("e-Assistant", "/")%>
    <div class="userID">
      <%= link_to("タスク一覧", "/tasks")%>
      Welcome back,
      <div class="tooltip">
        <a href="<%= "/users/#{@user.id}/edit"%>"><img src="/img/button-setting.png" alt="User setting" width="15" height="15"><%= @user.user_id%>!</a>
        <div class="tooltiptext">
          Edit account
        </div>
      </div>
      <%= link_to("Logout", "/logout", {method: :post})%>
    </div>
  </div>
  <div class="main-container">
    <% if @user.user_image %>
    <img class="circle" id="user_img" src="<%= "/img/#{@user.id}.jpg"%>" >
    <% else %>
    <img class="circle" id="user_img" src="/img/user.png">
    <% end %>

    <div class="square">
      現在のタスクは「タスク名」です。<br>
      残り時間：... <br>
      <%= @user.user_id%>さん、頑張ってください！
    </div>
    <div class="calendar-container">
      今日のスケジュール
    </div>
    <div class="tooltip">
      <button onclick="document.getElementById('id05').style.display='block'"><%= link_to 'タスク追加', new_task_path, remote: true %></button>
      <div id="task-form" ></div>
      <!-- Modal -->

    </div>
    <div class="calendar-container">
      <div id="event_calendar"></div>
      <div id="calendar-form"></div>


    </div>
    <br><br><br><br>
  </div>
>>>>>>> origin/master
</body>
</html>
