<%= form_with(model: event, local: true, data: {remote: true}) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "イベント名" %>
    <%= form.text_field :title, placeholder: "Enter event title", id: :event_title, required: true %>
  </div>

  <div class="field">
    <%= form.label "開始日時" %>
    <%= form.datetime_select :start, id: :event_start, required: true %>
  </div>

  <div class="field">
    <%= form.label "終了日時" %>
    <%= form.datetime_select :end, id: :event_end, required: true %>
  </div>

  <div class="field">
    <%= form.label "色" %>
    <%= form.select :color, [["Red", "red"], ["Orange", "orange"], ["Yellow", "yellow"], ["Green", "green"], ["Aqua", "aqua"], ["Blue", "blue"], ["Purple", "purple"]], include_blank: "指定なし", id: :event_color %>
  </div>

  <div class="field">
    <%= form.label "終日" %>
    <%= form.check_box :allDay, id: :event_allDay %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
